:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    
}
/*===================HEADER-SECTION==============*/
.header{
    background-image: url(../img/header_section/background/section-1\(header\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hexagon{
    position: relative;
}
.hexagon::after{
    content:"H";
    position:absolute; /*or absolute*/
    bottom: 17px;
    right: 13px;
    font-size: 40px;
    font-weight: bold;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    background: rgba(94, 93, 88, 0.6);
    margin-bottom: 264px;
}
.logo-container{
    display: inherit;
    align-items: center;
}
.logo-text{
    font-size: 2rem;
    margin-left: 6px;
}

.menu{
    display: flex;
    list-style: none;
    max-height: 120px;
}
.menu__item{
    padding: 0 10px;
    
}

.menu__item >a{
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 120px;
    color: rgba(255, 255, 255, 0.6)
}

.menu__item > a:hover{
    color:#18CFAB;
    border-bottom: 2px solid #18CFAB;
    
}
.search-icon{
    max-width: 20px;
    max-height: 20px;
    padding-left: 10px;
    margin: auto 0;
}
.header__content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 243px;
}
.heading__top{
    font-size: 2rem;
    margin-bottom: 22px;
}
.heading__middle{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 22px;
}
.header__btn-container{
    display: flex;
    justify-content: center;
    width: 362px;
    justify-content: space-between;
}
.heading__bottom{
    font-weight: normal;
    font-size: 34px;
    text-transform: capitalize;
    margin-bottom: 129px;
}
.header-btn{ 
    width: 168px;
    font-size: 15px;
    height: 63px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-top: 5px solid #FFFFFF;
    border-radius: 5px;

}

/*===================OPTIONS-SECTION==============*/
.options{
    display: flex;
}

.options__item {
    color: white;
    width: 100%;
    text-align: center;
    padding: 96px 0 110px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
/*===================SERVICES-SECTION==============*/
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 83px 0 91px;
}
.services__tab{
    display: inherit;
    flex-direction: column;
    justify-content: center;
}
.services-tabs-menu{
    display: inherit;
    justify-content: center;
    margin-bottom: 25px;
   
}
.services-tabs__title{
    text-align: center;
    width: 100%;
    font-size: 15.9859px;
    line-height: 72px;
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
}
.services__header{
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 101px;
}
.services-tabs-content__item{
    display: none;
    align-items: center;
}
.services-tabs-content__item > p{
    height: 136px;
    font-size: 13.645px;
    line-height: 24px;
    
}
.service-tab__img{
    max-width: 192px;
    max-height: 139px;
    margin-right: 15px;
}
/*===================PURCHASE-SECTION==============*/
.purchase-section{
    background-image: url(../img/purchase_section/background/section-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 100vw 20px 0px rgba(0, 0, 0, 0.774);
    display: flex;
    justify-content: center;
    
}
.purchase{
    text-align: center;
    padding: 127px 0;
}
.purchase__header{
    font-size: 40px;
    font-weight: bold;
    color: #18CFAB;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.purchase__desc{
    font-size: 16px;
    color: #D8D8D8;
    margin-bottom: 62px;
}

/*===================WORK-SECTION==============*/
.work-section{
    display: flex;
    justify-content: center;
    background: #E9EDEF;
    padding: 99px 0;
}
.work{
    display: inherit;
    flex-direction: column;
    align-items: center;
}
.work__header{
    font-size: 36px;
    color: #4E4E4E;
    margin-bottom: 97px;
}
.work__tab > .tabs{
    display: flex;
    justify-content: center;
    width: 589px;
    margin-bottom: 71px;
    background: rgba(0, 0, 0, 0.0001);
}

.work__tab{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tabs__title{
    line-height: 62px;
    font-size: 14px;
    padding: 0 15px;
    color: #717171;
    border: 1px solid #DADADA;

}
.work-tabs-img__container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    
}

/*===================BREAKING-NEWS-SECTION==============*/

.breaking-news-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 82px 0;
}
.breaking-news__header{
    color: #4E4E4E;
    font-size: 36px;
    margin-bottom: 100px;
}
.breaking-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.breaking-news__card{
    position: relative;
    max-width:263px;
    display: flex;
    flex-direction: column;
    margin-bottom: 46px;
}
.breaking-news__card:hover .date-container{
    background: #18CFAB;
}
.breaking-news__card:hover .breaking-news__title{
    color: #18CFAB;
}
.date-container{
    position: absolute;
    right: 0px;
    width: 70px;
    height: 68px;
    color: #FFFFFF;
    background: #203E38;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date{
    font-size: 15.9897px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    font-family: Montserrat;
    text-transform: capitalize;
}
.breaking-news__info{
    padding-left: 15px;
}
.breaking-news__title{
    font-weight: bold;
    font-size: 17.9885px;
    color: #717171;
    padding-top: 20px;
}
.breaking-news__text{
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
    font-weight: 300;
}
/*===================FEEDBACK-SECTION==============*/
.feedback-section{
    background-image: url(../img/feedback_section/Layer\ 333.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 98px 0 108px;
}

.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback__header{
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 135px;
}
.mb-24{
    margin-bottom: 24px;
}
.feedback-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.feedback-container{
 display: none;
 position: relative;
 color: #BBBBBB;
 font-size: 16px;
}
.feedback-container::before{
    content: url(../img/feedback_section/quotation.png);
    position:relative; /*or absolute*/
    bottom: 36px;
}
.feedback-container > img{
    width: 166px;
    border: 11px solid rgba(31,218,181, .2);
    border-radius: 100%;
}
.feeback-comment{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 37px;
    text-align: center;
    
}
.author-feedback{
    margin-bottom: 38px;
}

.author-feedback > span{
    display: block;
    text-align: center;
    color: #18CFAB;
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.feedback-active{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.slider{
    display: flex;
    position: relative;
    width: 483px;
    justify-content: space-between;
    align-items: center;
    margin-top: 63px;
}
.arrow{
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    position: relative;
}
#arrow-right:before{
    content: url(../img/feedback_section/rightArrow.png);
    position:relative; /*or absolute*/
    top: 10px;
    left:40%;
    z-index:1;
}
#arrow-left::after{
    content: url(../img/feedback_section/leftArrow.png);
    position:relative; /*or absolute*/
    top: 10px;
    left:40%;
    z-index:1;
}
.arrow:hover{
    background-color: #18CFAB;
}

.slider-thumbnail{
    border: 5px solid rgba(31,218,181, .2);
    border-radius: 100%;  
}


/*===================GALLERY-SECTION==============*/
.gallery-section{
    display: flex;
    justify-content: center;
    padding: 108px 0 80px;
}
.gallery__header{
    font-size: 36px;
    color: #4E4E4E;
    margin-bottom: 115px;
}

.gallery__img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 921px;
    margin-bottom: 52px;
}
.gallery{
    text-align: center;
}
.gallery__item{
    margin: 5px 0;
   width: fit-content;
}
.item-a {
    grid-area: firstRow;
  }
  .item-b {
    grid-area: secondRow;
  }
  .item-c {
    grid-area: thirdRow;
  }
  .item-d {
    grid-area: bottomRow;
  }
.img-container__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "firstRow firstRow firstRow"
    "secondRow secondRow secondRow"
    "thirdRow thirdRow thirdRow"
    "bottomRow bottomRow bottomRow";
}

.footer-section{
    background: #22353F;
    display: flex;
    justify-content: center;
    padding: 48px 0;
}
.copyright{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}
.copyright > .footer-logo{
    font-weight: inherit;
}





/*===================reusable css rules==============*/
.hidden-img{
    display: none;
}
.header-center{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tab-active{
    background:#18CFAB ;
    position: relative;
}
.tab-active::after{
    content: "";
    position: absolute;
    top: 99%;
    left: 45%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #18CFAB;
}
.container{
    width: 1160px;
}
.highlight--green{
    color: #18CFAB;
    font-weight: bold;
}
.seperator{
    display: inline-block;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-right: 1px solid #777777;
}
.pd{
    margin-left: 5px;
    margin-right: 5px;
}
.btn{
    text-transform: uppercase;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    line-height: 63px;
    width: 168px;
    color: #FFFFFF;
    
}

.btn--green{
    background: #18CFAB;
    
}
.btn--blue{
    background: #00CBF6;
    
}
.load-more--btn{
    position: relative;
}
.load-more--btn::before{
    content: url(../img/general/plus.png);
    position: relative;
    top: 4%;
    right: 5%;
}

.options__container--dark{
    background: #1C2A33;
}
.options__container--green{
    background: #18CFAB;
}
.options__container--dark > img{
    margin-bottom: 47px;
}
.options__container--green > img{
    margin-bottom: 70px;
}